*
{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body
{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.modal-btn
{
  color:white;
  padding:10px 20px;
  border:none;
  background:coral;
  font-weight:800;
  border-radius:5px;
  cursor:pointer;
  transition:all 0.3s ease-in-out;
}
.modal-btn:hover
{
  scale:1.1;
  box-shadow:10px 5px 5px rgba(255, 127, 80, 0.556);
  background:#333;
}


/* modal */
.modal
{
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  height:100%;
  width:100%;
  overflow:auto;
  background-color:rgba(0, 0, 0, 0.5);
  display:none;
  animation-name: modalopen;
  animation-duration: 0.7s;
}
@keyframes modalopen {
  0%
  {
    opacity:0;
  };
  100%
  {
    opacity:1;
  }
}
.modal-content
{
  background:#f4f4f4;
  margin:20% auto;
  width:70%;
  box-shadow:3px 2px 5px black;
}
.closeBtn
{
  cursor:pointer;
  font-size:18px;
  user-select:none;
  transition:all 0.3s ease-in-out;
}
.closeBtn:hover
{
  font-weight:800;
}
.modal-header
{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:5px;
  background:coral;
  padding:20px;
}
.modal-body
{
  padding:10px 20px;
}
.modal-footer
{
  padding:20px;
  background:coral;
}